{% extends "inter/wrapper.html" %}
{% block onas %}
<div class="onas">
<p>
	<h1 align="center">О НАС</h1>
ROZETKA – самый большой онлайн-ритейлер в стране. Уже 14 лет мы воплощаем маленькие мечты и грандиозные планы миллионов людей. У нас можно найти буквально все. Мы продаем по справедливой цене и предоставляем гарантию, так как считаем, что онлайн-шопинг должен быть максимально удобным и безопасным. И каждый раз, когда кто-то нажимает «Купить», мы понимаем, что делаем нужное дело
</p>
</div>
{% endblock %}